/* Estilos globales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #343333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: white;
    text-align: center;
    margin-top: -130px;
    font-size: 300%;
}

/* Estilos para la etiqueta de formulario */
form {
    color: white;
    background-color: #00000063;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

/* Estilos para las etiquetas de etiqueta y entrada */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

textarea {
    resize: none;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #000000;
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
}

input#key{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    width: 10%;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}


/* Estilos para el botón de envío */
input[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #45a049;
}

input[type="button"]:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/*Quitar las flechitas de aumento y decremento en el input type number*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}